<% if @city.not_found? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= @city.error_message %>
  </div>
<% else %>
  <% city_presenter = CityPresenter.new(@city) %>
  <div class="container">
    <div class="card text-center">
      <div class="card-header">
        Weather Details
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <%= city_presenter.name_with_country %>
        </h5>
        <div class="card-text">
          <%= image_tag city_presenter.weather_icon_src %>
          <%= city_presenter.formatted_temperature(@city.temperature_current) %>
        </div>
        <div class="card-text">
          <span>
            Feels Like <%= city_presenter.formatted_temperature(@city.feels_like) %>.
            <%= @city.humanized_weather_conditions.join(', ') %>
          </span>
        </div>
      </div>
      <div class="card-footer text-light">
        <div class="container">
          <span class="badge bg-dark">
            Wind <%= @city.wind_speed %> m/s <%= city_presenter.formatted_wind_direction %>
          </span>
          <span class="badge bg-dark">
            Pressure <%= city_presenter.formatted_pressure @city.pressure %>
          </span>
          <span class="badge bg-dark">
            Humidity <%= city_presenter.formatted_humidity @city.humidity %>
          </span>
        </div>
        <div class="container">
          <span class="badge bg-dark">
            Sunrise <%= city_presenter.formatted_sunrise_time %>
          </span>
          <span class="badge bg-dark">
            Sunset <%= city_presenter.formatted_sunset_time %>
          </span>
          <span class="badge bg-dark">
            Visibility <%= city_presenter.formatted_visibility %>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>
