<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container-fluid'>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <%= image_tag "logo.png", class: 'navbar-icon bg-dark' %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
             WEATHER APP
            </li>
          </ul>
          <%= form_with url: search_path, method: :get, class: 'form-inline my-2 my-lg-0', local: true do |form| %>
            <%= text_field_tag 'query', params['query'], class: 'form-control mr-sm-2', type: 'search', placeholder: 'Search', data: { 'aria-label' => 'Search' } %>
            <%= form.submit 'Search', class: 'btn btn-outline-success my-2 my-sm-0' %>
          <% end %>
        </div>
      </nav>

      <div class='container-fluid'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
